.call-to-actions-group {
  display: flex;
  justify-content: center;
}

.call-to-actions-group .call-to-action:not(:last-child) {
  padding-right: 30px;
}

button.call-to-action,
a.call-to-action {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--orange);
  border-style: solid;
  border-color: var(--orange);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 4px;
  display: inline-block;
}

a.call-to-action.inline-block {
  display: inline-block;
}

a.call-to-action.btn-alt {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--orange);
}

a.call-to-action.btn-alt-2 {
  background-color: var(--white);
  border-color: var(--orange);
  color: var(--orange);
  border: 2px solid;
  padding: 8px 30px;
}

a.block-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: var(--white);
}

a.block-link p {
  color: var(--white);
}

a.learn-more,
span.learn-more {
  text-decoration: none;
  border-bottom: 1px solid var(--white);
  padding-bottom: 5px;
  text-transform: uppercase;
}

a.orange-link {
  color: var(--orange);
  text-transform: uppercase;
  transition: 0.3s ease all;
  font-weight: bold;
}

a.orange-link span {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--orange);
  transition: 0.3s ease all;
  margin-left: 20px;
}

a.orange-link:hover {
  color: #e78267;
  transition: 0.3s ease all;
}

a.orange-link:hover span {
  border-bottom: 1px solid #e78267;
  transition: 0.3s ease all;
}

a.orange-link:hover .orange-play {
  box-shadow: 0 0 0 1px #e78267;
  transition: 0.3s ease all;
}

.orange-play {
  color: white;
  background: var(--orange);
  padding: 12px 14px 12px 16px;
  font-size: 18px;
  line-height: 1;
  border-radius: 50%;
  transition: 0.3s ease all;
}

.orange-play:hover {
  box-shadow: 0 0 0 2px #e78267;
  transition: 0.5s ease all;
}

a.cat.pinned {
  color: var(--orangealt);
  background: var(--orangesoft);
}

a.cat {
  padding: 4px 10px;
  border-radius: 20px;
  color: var(--blue);
  background: var(--bluesoft);
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

a.cat:not(:last-child) {
  margin-right: 10px;
}
