/* stylelint-disable */

.contact-page-form .lead-in-form {
  background: var(--orange);
  height: auto;
}

.contact-page-form .lead-in-form h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-page-form .lead-in-form ul {
  margin-left: 0;
  margin-bottom: 15px;
}

.contact-page-form .lead-in-form ul li {
  font-size: 16px;
  line-height: 24px;
  color: var(--lightgrey);
  padding-right: 20px;
}

.contact-page-form .lead-in-form ul.social {
  margin-top: 45px;
  display: flex;
  padding-right: 10px;
  font-size: 32px;
  line-height: 1;
}

.contact-page-form .lead-in-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-form .lead-in-right .wide-form {
  width: 100%;
  padding: 60px 40px;
}

.contact-page-form .wide-form label,
.contact-page-form .wide-form label p {
  color: var(--orange);
  text-transform: uppercase;
}

.contact-page-form .wide-form select,
.contact-page-form .wide-form input[type="email"],
.contact-page-form .wide-form input[type="phone"],
.contact-page-form .wide-form input[type="tel"],
.contact-page-form .wide-form input[type="text"],
.contact-page-form .wide-form textarea {
  background: var(--inputgreey);
}

.contact-page-form .wide-form select,
.contact-page-form .wide-form input[type="email"],
.contact-page-form .wide-form input[type="phone"],
.contact-page-form .wide-form input[type="tel"],
.contact-page-form .wide-form input[type="text"] {
  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  background: var(--inputgreey);
  color: black;
  height: 40px;
}

.contact-page-form .wide-form textarea {
  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  background: var(--inputgreey);
  color: black;
}



.contact-page-form select {
  appearance: none;
}

.contact-page-form .gform_wrapper.gravity-theme .gform_footer {
  justify-content: flex-end !important;
}

.contact-page-form .gform_confirmation_message_1 {
  box-sizing: border-box;
  font-size: 18px;
  color: var(--blue);
  font-style: italic;
  text-align: center;
}
