/** stylelint disable **/

/** forms **/
form label .required {
  padding-left: 5px;
  color: red;
}

form label span.gfield_required,
form label span.gfield_required_asterisk {
  color: red !important;
}

.gform_required_legend {
  display: none;
}

form label p {
  margin-bottom: 5px;
  color: var(--darkgrey);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

form input[type="text"],
form input[type="email"],
form input[type="phone"] {
  border: 1px solid rgb(201 201 201 / 80%);
  border-radius: 4px;
  padding: 3px;
}

.form-row {
  display: flex;
  margin-bottom: 30px;
}

.gform_wrapper.gravity-theme .gform_fields {
  row-gap: 15px !important;
  column-gap: 20px !important;
}

.gform_wrapper.gravity-theme .gform_footer {
  margin-top: 0 !important;
  padding: 30px 0 !important;
}
