/* stylelint-disable */

.icon-off {
  position:  relative;
  width: 60px;
  height: 60px;
  background: var(--lightgrey);
  border-radius: 50%;
}

.icon-off i {
  font-size: 55px;
  position: absolute;
  right: -5px;
  color: var(--orange);
  width: 50px;
}

