/* stylelint-disable */

.quick-quote {
  margin-top: -120px;
}

.sidebar .quick-quote {
  margin-top: 0;
}

.quick-quote h4,
.quick-quote p {
  color: var(--white);
  font-weight: bold;
}

.quick-quote h4 {
  margin-bottom: 15px;
  font-size:20px;
}

.quick-quote-title p {
  margin-bottom: 45px;
  font-size:16px;
}

.quick-quote label p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.quick-quote-wrapper {
  background-color: var(--orange);
  box-shadow: var(--shadow);
  padding: 45px 40px;
}

.quick-quote-title {
  text-align: center;
}

.quick-quote .form-row {
  margin-bottom: 15px;
}

.quick-quote .form-row.last {
  margin-bottom: 45px;
}

.quick-quote label,
.quick-quote input {
  width: 100%;
}

.quick-quote input[type="text"],
.quick-quote input[type="phone"],
.quick-quote input[type="email"] {
  padding-left: 10px;
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.quick-quote button {
  color: var(--white);
  padding: 10px;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 10px;
}
