/** grid **/

section {
  padding: 60px 0;
}

section.section-up-next {
  padding-bottom: 90px;
}

section.small {
  padding: 30px 0;
}

section.large-bottom {
  padding-bottom: 210px;
}

section.small:first-child {
  padding-top: 60px;
}

section.small:last-child {
  padding-bottom: 60px;
}

section.next-up-312 {
  padding-bottom: 312px;
}

section.section-alt {
  background-color: var(--lightgrey);
}

section.section-alt-2 {
  background-color: var(--grey);
}

section.the-page-header {
  padding-top: 45px;
  padding-bottom: 45px;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

.small-row.wrap {
  display: flex;
  flex-wrap: wrap;
}

.small-wrap.center {
  justify-content: center;
}

.row {
  max-width: var(--row);
  margin: 0 auto;
  display: flex;
}

.row.wrap {
  flex-wrap: wrap;
}

.row.block {
  display: block;
}

.small-row {
  max-width: var(--small-row);
  margin: 0 auto;
}

.row.center {
  justify-content: center;
}

.row.flex-end {
  justify-content: flex-end;
}

.container .row:not(:last-child) {
  margin-bottom: 30px;
}

.four-col {
  width: 25%;
}

.two-col {
  width: 50%;
}

.two-col.even-space {
  padding-right: 10px;
}

.two-col.even-space:last-child:not(:first-child) {
  padding-right: 0;
  padding-left: 10px;
}

.large-col {
  width: 70%;
}

.small-col {
  width: 30%;
}

.stack-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
}

.extra-bottom {
  padding-bottom: 282px !important;
}

.extra-gap-right {
  padding-right: 40px;
}

@media (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }

  .four-col {
    width: 100%;
  }

  .two-col {
    width: 100%;
  }

  .page-template-template-playlist .two-col {
    margin-bottom: 30px;
    text-align: center;
  }

  .large-col,
  .small-col {
    width: 100%;
  }

  .short-copy {
    margin-bottom: 30px;
  }

  .services-block {
    width: 100% !important;
  }
}

/** columns css **/

.ul-col-2 {
  columns: 2;
}
