h1 {
  font-size: 35px;
  line-height: 49px;
}

h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  margin-bottom: 30px;
}

h3 {
  font-size: 21px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.07px;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}

h4.header-alt {
  color: #f6821d;
  font-style: italic;
  font-size: 24px;
  line-height: 1;
}

header.header-banner {
  background: var(--white);
  width: 100%;
  padding: 0;
  box-shadow: var(--shadowbig);
  position: relative;
  z-index: 1;
  max-height: 93px;
}

.header-two h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.service h2 {
  font-size: 24px;
  line-height: 30px;
  color: var(--darkblue);
}

.header-two.blue h2 {
  color: var(--blue);
  letter-spacing: 1px;
}

.header-two.blue.no-margin h2 {
  margin-bottom: 0;
}

.orange {
  color: var(--orange);
}

.primary-menu-wrapper {
  height: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 800px) {
  .header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.preheader {
  color: var(--orange);
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.follow-up {
  color: var(--blue);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.follow-up.smaller {
  font-size: 32px;
  line-height: 42px;
  text-transform: none;
}

span.orange {
  color: var(--orange);
}

.header-tag {
  color: var(--orange);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.header-tag.center {
  text-align: center;
}

.blog-banner h3,
.blog-banner h3 a {
  font-size: 36px;
  line-height: 43px;
  color: black;
  font-weight: 800;
  text-transform: capitalize;
}

.blog-articles h3,
.blog-articles h3 a {
  font-size: 24px;
  line-height: 28px;
  color: black;
  font-weight: 800;
  text-transform: capitalize;
}

.article-title h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
}

@media (max-width: 800px) {
  .blog-banner h3,
  .blog-banner h3 a {
    font-size: 24px;
    line-height: 28px;
  }
}
