.is-mobile #main-navi .nav-primary {
  display: block;
}

.is-mobile .desktop-nav > li.menu-item.menu-item-has-children {
  padding-right: 60px;
}

/* stylelint-disable */
@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.sh-overlay {
  background: rgb(0 0 0 / 85%);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: .3s all ease;
  animation: fadeInFromNone 0.3s ease-out;
}

.is-mobile .desktop-nav > li.menu-item a {
  font-size: 16px;
  line-height: 1;
}

.is-mobile.mobile-open .sh-overlay {
  display: none;
}

.is-mobile.mobile-open .nav-primary,
.is-mobile.mobile-open .nav-primary .desktop-nav {
  display: block;
  margin-left: -15px;
}

.is-mobile .desktop-nav>li.menu-item.call-to-action a {
  text-align: center;
}

.is-mobile.mobile-open .main-menu-icon {
  position: absolute;
  cursor: progress;
  top: 15px;
  right: 0;
  color: white;
}

.nav-primary {
  display: flex;
}

.is-mobile .desktop-nav>li.menu-item a.call-to-action {
  margin-left: 0;
  width: 100%;
  display: inline-block;
  padding: 15px;
}

.menu-primary-navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-mobile.mobile-open .menu-primary-navigation-container {
  width: 67%;
  margin: auto;
}

.is-mobile.mobile-open .nav-primary .desktop-nav {
  padding-top: 90px;
  width: 100%;
}

.is-mobile.mobile-open .nav-primary .desktop-nav > li.menu-item:not(:last-child) {
  padding: 15px;
  position: relative;
}

.is-mobile.mobile-open .nav-primary .desktop-nav > li.menu-item:not(:last-child) a {
  color: white;
  padding: 0 0;
  font-size: 16px !important;
}

.is-mobile {
  display: block;
  background: var(--darkblue);
  position: fixed;
  height: 100%;
  top: 0;
  width: 98%;
  max-width: 385px;
  visibility: hidden;
  right: -787px;
  opacity: 0;
  box-shadow: var(--leftshadow);
}

@media(max-width: 800px) {
  #menuToggle {
    max-width: 33px !important;
  }

  .primary-menu-wrapper {
    height: auto;
  }
}

.is-mobile .call-to-action.menu-item {
  margin-top: 60px;
  margin-left: 12px;
  text-align: center;
}

.is-mobile.mobile-open {
  right: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.6s all ease;
}

.is-mobile.mobile-closed {
  transition: 0.6s all ease;
}

.mobile-menu-wrapper,
.off-canvas {
  display: none;
}

.mobile-menu {
  display: none;
  z-index: 999999999;
}

.mobile-menu .primary-menu-wrapper {
  padding: calc(1.5em * 2);
}

.off-canvas {
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 99999998;
  max-width: 430px;
}

.off-canvas.off-canvas-active .mobile-menu-wrapper {
  padding-top: 20px;
}

.mobile-menu-wrapper {
  background: var(--blue);
  position: absolute;
  height: 100%;
  width: 97%;
  right: 0;
}

.mobile-menu-hamburger .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.mobile-menu-hamburger input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.mobile-menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.mobile-menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.mobile-menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.mobile-menu-hamburger input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.mobile-menu-hamburger .hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-hamburger .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.mobile-menu-hamburger .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.mobile-menu-hamburger .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.mobile-menu-hamburger .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.mobile-nav {
  z-index: 99999999999999;
}

.mobile-nav > li.menu-item {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.05em;
  color: var(--white);
}

.mobile-nav > li.menu-item:not(.call-to-action) {
  padding: 15px 0;
}

.mobile-nav > li.menu-item.call-to-action {
  padding: 30px 0;
}

.mobile-nav > li.menu-item.call-to-action a {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: var(--orange);
  border-style: solid;
  border-color: var(--orange);
  color: var(--white);
  padding: 10px;
  border-radius: 4px;
}

.mobile-nav > li.menu-item > ul.sub-menu {
  display: none;
  position: absolute;
}

.is-mobile.mobile-open .mega-menu {
  background: transparent;
  position: relative;
  height: 0;
  opacity: 0;
  transition: 0.5s ease all;
  display: block;
}


.is-mobile.mobile-open .mega-menu.mobile-open {
  height: 100%;
  opacity: 1;
  transition: 0.5s ease all;
}

.mega-menu.mobile-open {
  overflow-y: scroll;
  max-height: 350px;
  -webkit-overflow-scrolling: touch;
}

.mega-menu.mobile-open::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  width: 5px;
}

.mega-menu.mobile-open::-webkit-scrollbar-thumb {
 border: 1px solid var(--orange);
}

.mega-menu.mobile-open::-webkit-scrollbar-button {
  border: 1px solid var(--orange);
}

.is-mobile.mobile-open .mega-menu .container {
  padding: 0;
}

.is-mobile.mobile-open ul#menu-primary-navigation > li {
  padding: 0;
}

.is-mobile.mobile-open ul#menu-primary-navigation > li > a {
  padding: 15px;
  display: block;
  width: 100%;
}

.is-mobile.mobile-open .mega-menu .container .mega-menu-inner {
  border-radius: 0;
  display: block;
  padding: 5px 0 30px;
}

.is-mobile.mobile-open .mega-menu .container .mega-menu-inner .sub-menu-title,
.is-mobile.mobile-open .mega-menu .container .mega-menu-inner .image-wrapper-menu  {
  display: none;
}

.is-mobile.mobile-open .mega-menu.mobile-open .container .mega-menu-inner .mega-menu-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
}

.is-mobile.mobile-open .mega-menu .container .mega-menu-inner .sub-menu {
  display: none;
}

.is-mobile.mobile-open .mega-menu.mobile-open .container .mega-menu-inner .sub-menu {
  display: block;
}

.is-mobile.mobile-open .mega-menu .container .mega-menu-inner .sub-menu li {
  padding: 0;
  width: 100%;
}

.is-mobile.mobile-open .mega-menu.mobile-open .container .mega-menu-inner .sub-menu li a {
  padding: 15px;
  font-size: 16px;
  line-height: 19px;
  color: var(--lightgrey);
  letter-spacing: -1px;
}

.is-mobile.mobile-open .mega-menu .container .mega-menu-inner .sub-menu li p {
  display: none;
}

@media (max-width: 510px) {
  .mobile-menu-wrapper,
  .off-canvas {
    display: block;
    visibility: visible;
  }

  .mobile-menu {
    display: block;
  }
}
