/* stylelint-disable */

.blog-banner .blog-featured-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .blog-banner .blog-card-image-wapper {
    padding-right: 0;
  }

  .blog-banner .blog-featured-image {
    height: 300px;
    margin-bottom: 15px;
  }
}
