/* stylelint-disable */
.blog-featured-image{
  position: relative;
}

.blog-articles .blog-featured-image {
  width: 100%;
  height: 212px;
  border-radius: 10px;
}

.link-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog-articles  {
  border-bottom: 1px solid var(--lightgrey);
}
