footer {
  background-color: black;
  padding: 60px 0;
  border-top: 2px solid var(--orange);
}

.footer {
  padding-bottom: 60px;
}

footer ul {
  margin: 0;
}

footer li {
  list-style: none;
}

.footer h4 {
  text-transform: capitalize;
  color: var(--grey);
}

.footer p,
.footer li {
  font-size: var(--psmall);
  line-height: var(--psmallline);
  color: var(--darkgrey);
}

.copyright {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 0;
  color: var(--darkgrey);
}

footer .social-icons {
  padding: 30px;
}

footer .social-icons ul {
  display: flex;
  justify-content: center;
}

footer .social-icons ul li {
  padding: 0 20px;
}

footer .social-icons ul li i {
  font-size: 18px;
  color: var(--darkgrey);
}

@media (max-width: 800px) {
  footer .four-col {
    margin-bottom: 30px;
  }
}
