/* stylelint-disable */

.page-header-title {
  max-width: 1000px;
}

.page-header-title.blog-page-header {
  max-width: 610px;
}

.page-header-title h1,
.blog-page-header h1 {
  color: var(--orange);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.page-header-title h2,
.blog-page-header h2 {
  color: var(--blue);
  font-size:  48px;
  line-height: 58px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.page-header-title p,
.blog-page-header p {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .page-header-title h2,
  .blog-page-header h2 {
    color: var(--blue);
    font-size:  36px;
    line-height: 50px;
    margin-bottom: 0;
  }
}
