/* stylelint-disable */

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding: 30px 40px;
  margin-bottom: 30px;
  justify-content: center;
}

.service-inner {
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 30px;
  text-align: center;
}

.service-image img {
  width: 200px;
  height: 112px;
}

.service-content {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .service {
    width: 100%;
  }
}
