/* stylelint-disable */

/** services-banner **/

span.header-tag {
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

h1.services-header-title {
  color: var(--blue);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 15px;
}

.services-content-lead {
  padding: 30px 0 0 40px;
}

.services-content-lead p:first-child {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.services-images {
  display: flex;
}

.services-images img {
  width: 33%;
  border-radius: 10px;
}

.services-images img:not(:last-child) {
  margin-right: 10px;
}
