/* stylelint-disable */

/** peak-card **/

.peak {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;
}

.peak .lead-in.left,
.pead .lead-in-right {
  margin-top: -90px;
}

.peak .lead-in.left {
  width: 35%;
}

.pead .lead-in-right {
  width: 65%;
  padding-left: 20px;
}

.peak-card {
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.peak-card-top {
  position: relative;
  height: 390px;
  border-radius: 10px 10px 0 0px;
}

.peak-card-top .peak-card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 65%);
  border-radius: 10px 10px 0 0px;
}

.peak-card-title {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}

.peak-card-title span {
  color: var(--white);
  font-size: 42px;
  font-weight: bold;
}

.peak-card-title h3 {
  font-size: 32px;
}

.peak-card-logo {
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 0px 10px 10px;
}

.peak-card-logo  img {
  width: 50%;
  padding: 15px;
}

#peak-email {
  height: 100%;
  padding-left: 20px;
}

.peak input[type="email"] {
  height: 44px;
}

#input_4_1 {
  height: 44px;
}
