/* stylelint-disable */

/** services-sizzle-reel **/
.services-reel-content {
  width: 100%;
}

.services-sizzle-reel {
  padding-right: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.s-vid {
  cursor: pointer;
}

.s-vid .video-container {
  border-radius: 10px;
}

.s-vid img {
  border-radius: 10px;
}

.s-vid-title {
  padding-top: 5px;
}

.s-vid-title h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 800px) {
  .s-vid {
    width: 100%;
  }
}
