/* stylelint-disable */

/** services-sizzle-reel **/
.services-reel-content {
  width: 100%;
}

.services-sizzle-reel {
  padding-right: 20px;
}
.s-vid {
  cursor: pointer;
  width: 100%;
}

.s-vid .video-container {
  border-radius: 10px;
}

.s-vid img {
  border-radius: 10px;
}

.s-vid-title {
  padding-top: 5px;
}

.s-vid-title h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.abso-bg {
  position: absolute;
  background: rgb(0 0  0 / 30%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .s-vid {
    width: 100%;
  }
}
