/* stylelint-disable */

/** video-modal **/

.video-modal {
  /*outline: none;*/
  /*position: fixed;*/
  /*top: 156.5px;*/
  /*left: 148.5px;*/
  /*box-sizing: border-box;*/
  /*max-height: 793px;*/
  /*max-width: 1577px;*/
  /*z-index: 2202;*/
  display: none;
}

.video-modal.active {
  display: block;
}

.video-modal-inner {
  height: 100%;
  text-align: center;
}

.video-modal-content {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

body.admin-bar .bg-shadow-video {
  height: calc(100vh - 32px);
}

.bg-shadow-video {
  background: rgba(0 0 0 / 91%);
  height: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  padding: 20px;
}

.bg-shadow-video-inner {
  top: 0;
  left: 0;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
}

.ex-out-wrapper {
  display: flex;
  justify-content: flex-end;
}

div.ex-out {
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: -40px;
  top: -20px;
}

@media (max-width: 800px) {
  div.ex-out {
    right: 0px;
  }
}

div.ex-out:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7"; /* use the hex value here... */
  font-size: 30px;
  color: var(--darkgrey);
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.video-thumbnail:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\f01d";
  font-family: FontAwesome;
  font-size: 100px;
  color: #fff;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
  color: #eee;
}



