/* stylelint-disable */

/** wide-form **/

.wide-form-wrapper {
  box-shadow: var(--shadowall);
  background: var(--white);
  margin-top: -222px;
  border-radius: 10px;
}

.wide-form-wrapper-60 {
  box-shadow: var(--shadowall);
  background: var(--white);
  margin-top: -60px;
  border-radius: 10px;
}

.wide-form-wrapper-90 {
  box-shadow: var(--shadowall);
  background: var(--white);
  margin-top: -90px;
  border-radius: 10px;
}

.wide-form {
  padding: 30px 40px;
  background: var(--white);
}

.wide-form-banner {
  padding: 30px 20px;
}

.wide-form-banner ul {
  list-style: none;
}

.wide-form-banner ul li {
  list-style: none;
}

.wide-form-banner p {
  margin-bottom: 45px;
}

.wide-form label input {
  width: 100%;
}

.wide-form label p {
  font-size: 14px;
  line-height: 1;
}

.wide-form h4 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 45px;
}
